{{include file='header.html'}}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<table width="100%" align="center" cellspacing="1" cellpadding="3" class="i_table">
  <tr>
    <td class="head" colspan="2"><b>操作菜单</b></td>
  </tr>
  <tr>
    <td class="b_title">
    	<a href="channel.php?action=new" target="_self">添加频道信息</a>&nbsp;
    	<a href="channel.php" target="_self">频道信息管理</a>
    </td>
  </tr>
</table>
<br />
<form name="fmEdit" id="fmEdit" method="post" action="channel.php?action=save" enctype="multipart/form-data">
	<input type="hidden" name="channelId" id="channelId" value="{{$channel.channelId}}" />
	<table width="70%" align="center" cellspacing="1" cellpadding="3" class="i_table">
		<tr>
			<td colspan="2" class="head">频道信息管理</td>
        </tr>
        <tr>
			<td width="20%" class="b">*名称</td>
			<td class="b">
				<input type="text" name="name" id="name" value="{{$channel.name}}"  class="frminput" />
			</td>
	  	</tr>
		<tr>
			<td width="20%" class="b">图片</td>
            <td class="b_sel">        
				<input name="image" type="file">
				<input type="hidden" name="hasimg" value="{{$channel.image}}" />  
		  </td>
	  	</tr>
        {{if $channel.image != ''}}
        <tr>
			<td width="20%" class="b">图片</td>
			<td class="b">
				<img src="../{{$channel.image}}" width="341" height="341" alt="" />
			</td>
	  	</tr>
	  	{{/if}} 
	  	<tr>
			<td width="20%" class="b">简介</td>
			<td class="b">
				<textarea name="summary"  id="summary" style="width:100%;height:100px; resize:none;">{{$channel.summary}}</textarea>
			</td>
	  	</tr>
	  	<tr>
			<td width="20%" class="b">地址</td>
			<td class="b">
				<input type="text" name="url" id="url" value="{{$channel.url}}"  class="frminput" />
			</td>
	  	</tr>
	  	<tr>
			<td width="20%" class="b">点击次数</td>
			<td class="b">
				<input type="text" name="clickCount" id="clickCount" value="{{$channel.clickCount}}"  class="frminput" />
			</td>
	  	</tr>
	  	<tr>
			<td width="20%" class="b">*是否为视频</td>
			<td class="b">
				<input type="text" name="isVideo" id="isVideo" value="{{$channel.isVideo}}"  class="frminput" />
			</td>
	  	</tr>
		<tr>
			<td colspan="2" class="b">
				<input type="submit" value="提交">
				<input type="reset" value="重置">
			</td>
		</tr>
	</table>
</form>
{{include file='footer.html'}}