{{include file="header.html"}}
<table width="100%" align="center" cellspacing="1" cellpadding="3" class="i_table">
  <tr>
    <td class="head" colspan="2"><b>操作菜单</b></td>
  </tr>
  <tr>
    <td class="b_title">
    	<a href="news.php?action=new" target="_self">添加新闻信息</a>&nbsp;
    	<a href="news.php" target="_self">新闻信息管理</a>
    </td>
  </tr>
</table>
<br />
<form name="fmEdit" id="fmEdit" action="news.php?action=delete" method="post">
    <table width="100%" align="center" cellspacing="1" cellpadding="3" class="i_table">
		<tr>
        	<td colspan="4" class="head">新闻信息管理</td>
        </tr>
        <tr>
			<td width="20%" class="head_2">新闻编号</td>
			<td width="50%" class="head_2">新闻名称</td>          	
	  	  	<td width="10%" class="head_2">管理</td>
			<td width="20%" class="head_2">删除</td>
		</tr>
		{{foreach from=$news item=news name=news}}
		<tr>
			<td width="20%" class="b">{{$news.newsId}}</td>
			<td width="50%" class="b"><a href="http://app.rgd.com.cn/radio_app/news.php?newsId={{$news.newsId}}" target="_blank">{{$news.title}}</a></td>           
   			<td width="10%" class="b">
            	<a href='news.php?action=new&newsId={{$news.newsId}}'>修改</a>
		  	</td>
			<td width="20%" class="b">
				<input type="checkbox" name="chk1[]" id="chk1" value="{{$news.newsId}}" />
			</td>
		</tr>
		{{/foreach}}
		<tr>
			<td colspan="3" class="b">
				<input type="submit" name="Submit" value="删除" />
			</td>
			<td width="20%" class="b">
				全选/全不选<input type="checkbox" name="chk2" id="chk2" />
			</td>
		</tr>
		<tr>
			<td colspan="4" class="b">{{$paggingbar}}</td>
		</tr>  
	</table>
</form>
{{include file="footer.html"}}