{{include file="header.html"}}
<table width="100%" align="center" cellspacing="1" cellpadding="3" class="i_table">
  <tr>
    <td class="head" colspan="2"><b>操作菜单</b></td>
  </tr>
  <tr>
    <td class="b_title">
    	<a href="admin.php?action=new" target="_self">添加管理员信息</a>&nbsp;
    	<a href="admin.php" target="_self">管理员信息管理</a>
    </td>
  </tr>
</table>
<br />
<form name="fmEdit" id="fmEdit" action="admin.php?action=delete" method="post">
    <table width="100%" align="center" cellspacing="1" cellpadding="3" class="i_table">
		<tr>
        	<td colspan="5" class="head">管理员信息管理</td>
        </tr>
        <tr>
			<td width="45%" class="head_2">管理员</td>
			<td width="25%" class="head_2">审核状态</td>
		  	<td width="10%" class="head_2">管理</td>
			<td width="20%" class="head_2">删除</td>
		</tr>
		{{foreach from=$admin item=admin name=admin}}
		<tr>
			<td width="45%" class="b">{{$admin.username}}</td>
			<td width="25%" class="b">
			{{if $admin.checked==1}}已审核
			{{else}}未审核{{/if}}
			</td>
   			<td width="10%" class="b">
            	<a href='admin.php?action=new&id={{$admin.id}}'>修改</a>
			</td>
			<td width="20%" class="b">
				<input type="checkbox" name="chk1[]" id="chk1" value="{{$admin.id}}" />
			</td>
		</tr>
		{{/foreach}}
		<tr>
			<td colspan="3" class="b">
				<input type="submit" name="Submit" value="删除" />
			</td>
			<td width="20%" class="b">
				全选/全不选<input type="checkbox" name="chk2" id="chk2" />
			</td>
		</tr>
		<tr>
			<td colspan="4" class="b">{{$paggingbar}}</td>
		</tr>  
	</table>
</form>
{{include file="footer.html"}}