{{include file='header.html'}}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<table width="100%" align="center" cellspacing="1" cellpadding="3" class="i_table">
  <tr>
    <td class="head" colspan="2"><b>操作菜单</b></td>
  </tr>
  <tr>
    <td class="b_title">
    	<a href="uploadProgramHistory.php?action=upload" target="_self">批量导入历史回顾信息</a>&nbsp;
		<a href="uploadProgramHistory.php" target="_self">历史回顾信息管理</a>&nbsp;
		{{foreach  from=$channel item=channel name=channel}}
			<a href="uploadProgramHistory.php?action=item&cid={{$channel.channelId}}" target="_self">{{$channel.name}}</a>&nbsp;
		{{/foreach}}
    </td>
  </tr>
</table>
<br />
<p>是否需要导入历史回顾：</p>

<p>当前历史回顾文件为：{{$fname}}</p>
<p><a href="uploadProgramHistory.php?fname={{$fname}}">导入历史回顾</a>&nbsp;<a href="programHistory.php">不导入，回到历史回顾列表</a></p>
{{include file='footer.html'}}